<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('../partials/head.ejs', {tituloPagina: "Anastassia Joyas - Detalle de Producto", hojaEstilo: "productDetail"}) %>

<body>
    
    <!-- Incluimos el Header -->
    <%- include('../partials/header.ejs') %>

    <main>

        <div>
            <p id="indice"> <a href="../../productos/">Productos</a> / <%= producto.category %> / <%= producto.name %></p>
        </div>

        <section id="seccionDetalleProducto">
            <div id="contenedorImagen"> 
                <img id="imagenProducto" src="/images/products/<%= producto.image %>" alt="Anillo Acero">
            </div>
            <div id="infoProducto"> 
                <h2 id="nombre"><%= producto.name %></h2>
                <h4 id="precio">$<%= producto.precio %></h4>
                <p id="descripcion">Descripción</p>
                <p id="textoDescripcion"><%= producto.description %></p>
                <div id="contenedorBotones">
                    <a href="../../productos/editar/<%= producto.id %>" id="botonEditar">EDITAR PRODUCTO</a>
                    <form action="" method="" id="formularioEliminar">
                        <button id="botonEliminar">ELIMINAR PRODUCTO</button>
                    </form>
                </div>
                <button id="botonComprar">COMPRAR</button>
            </div>
        </section>

        <h2 id="productosRelacionados">PRODUCTOS RELACIONADOS</h2>

        <section id="sliderProductos">
            
            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillo-oro2.jpg" alt="Anillo Oro 2"></a>
                <h3 class="nombreProducto">Anillo Oro</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 999</h5>
                <div class="carritoProducto">
                    <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>

            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/arbol-de-la-vida-colgante.jpg" alt="Colgante Arbol de la Vida"></a>
                <h3 class="nombreProducto">Colgante Arbol de la Vida</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                <div class="carritoProducto">
                    <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>

            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillos-dorados.jpg" alt="Anillos Dorados"></a>
                <h3 class="nombreProducto">Par Anillos Oro</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 2999</h5>
                <div class="carritoProducto">
                    <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>
                    
            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillo-acero.jpg" alt="Anillos Acero"></a>
                <h3 class="nombreProducto">Par Anillos Acero</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                <div class="carritoProducto">
                    <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>
                    
        </section>

    </main>

    <!-- Incluimos el Footer -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>