<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('../partials/head.ejs', {tituloPagina: "Anastassia Joyas - Listado de Productos", hojaEstilo: "productsIndex"}) %>

<body>
    
    <!-- Incluimos el Header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <div>
            <h2 id="tituloProductos">LISTADO DE PRODUCTOS</h2>
        </div>

        <!-- Display Productos -->
        <section id="listadoProductos">
            
            <!-- Muestra los productos dinámicamente (usando un foreach) -->
            <% productos.forEach(producto => { %>
                <article class="contenedorProducto">
                    <a href="/productos/detalle/<%= producto.id %>"><img class="imagenProducto" src="/images/products/<%= producto.category %>/<%= producto.image %>" alt="Imagen Producto"></a>
                    <div class="contenedorNombreYCarrito">
                        <h3 class="nombreProducto"><%= producto.name %></h3>
                        <div class="carritoProducto">
                            <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                        </div>
                    </div>
                    <div class="infoProducto">
                        <h5 class="precio">Precio</h5>
                        <h5 class="numeroPrecio">$ <%= producto.precio %></h5>
                    </div>
                </article>
            <% }) %>

        </section>

    </main>

    <!-- Incluimos el Footer -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>