<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('./partials/head.ejs', {tituloPagina: "Anastassia Joyas", hojaEstilo: "index"}) %>

<body>

    <!-- Incluimos el Header -->
    <%- include('./partials/header.ejs') %>
    
    <main>

        <!-- Script Carrousel Colecciones -->
            
        <script>
            function imagen0(){
                document.getElementById('imagen0').style.display = 'block';
                document.getElementById('imagen1').style.display = 'none';
                document.getElementById('imagen2').style.display = 'none';
                
                document.getElementById("tituloColeccion").innerText = "Coleccion1";
            }
            function imagen1(){
                document.getElementById('imagen0').style.display = 'none';
                document.getElementById('imagen1').style.display = 'block';
                document.getElementById('imagen2').style.display = 'none';

                document.getElementById("tituloColeccion").innerText = "Coleccion2";
            }
            function imagen2(){
                document.getElementById('imagen0').style.display = 'none';
                document.getElementById('imagen1').style.display = 'none';
                document.getElementById('imagen2').style.display = 'block';

                document.getElementById("tituloColeccion").innerText = "Coleccion3";
            }
                
        </script>
            
        
        <!-- Carrousel Colecciones -->
        <h2 class="titulos">COLECCIONES</h2>

        <section id="carrouselColecciones">

            <% productosDeCadaColeccion.forEach((producto, i) => { %>
                <a href="productos/detalle/<%= producto.id %>"><img id="<%= "imagen" + i %>" src="images/products/<%= producto.image %>" alt="<%= producto.name %>"></a>
            <% }) %>
            
            <div id="botonesSelectores">
                <button id="botonCarrousel1" class="selectorCarrousel" onclick="imagen0()" autofocus></i></button>
                <button id="botonCarrousel2" class="selectorCarrousel" onclick="imagen1()"></i></button>
                <button id="botonCarrousel3" class="selectorCarrousel" onclick="imagen2()"></i></button>
            </div>

        </section>

        <h3 id="tituloColeccion" class="titulos"><%= productosDeCadaColeccion[0].coleccion  %></h3>

        <!-- Display Productos -->
        <h2 class="titulos">PRODUCTOS DESTACADOS</h2>

        <section id="sliderProductos">
            
            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/products/argolla plata Roma.webp" alt="Argolla Plata Roma"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Argolla Plata Roma</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1500</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/2"><img class="imagenProducto" src="images/products/argollas Berlin 2.webp" alt="Argolla Plata Berlin"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Argolla Plata Berlin</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 2500</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/3"><img class="imagenProducto" src="images/products/argollas Monaco 2.webp" alt="Argolla Oro Monaco"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Argolla Oro Mónaco</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 4000</h5>
                
            </article>
                    
            <article class="contenedorProducto">
                <a href="productos/detalle/8"><img class="imagenProducto" src="images/products/colgante Beijing.webp" alt="Colgante Plateado Beijing"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Colgante Plateado Beijing</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1700</h5>
                
            </article>
                    
        </section>
        
        <!-- Productos por Materiales -->
        <h2 class="titulos">PRODUCTOS POR MATERIAL</h2>

        <section id="seccionOroAcero">
            <div id="contenedorOro">
                <img class="imagenesOroAcero" src="images/products/argollas Valencia.webp" alt="">
                <button class="botonesOroAcero">Oro</button>
            </div>
            <div id="contenedorAcero">
                <img class="imagenesOroAcero" src="images/products/Alaska.webp" alt="">
                <button class="botonesOroAcero">Acero</button>
            </div>
            
        </section>
    </main>

    <!-- Incluimos el Footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>