<!DOCTYPE html>
<html lang="en">
  <!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
  <%- include('../partials/head.ejs', {tituloPagina: "Anastassia Joyas - Perfil del Usuario", hojaEstilo: "profile"}) %>

  <body>
    <!-- Incluimos el Header -->
    <%- include('../partials/header.ejs') %>

    <div id="contenedor" >
      <h2>Hola <%= usuarioLogueado.name %>!</h2>

      <div id="tarjeta">
        <img src="/images/users/<%= usuarioLogueado.avatar %> " id="imagenUsuario" />
      <br />
      <br />
      <h3 id="usuario"><%= usuarioLogueado.email %></h3>
      </div>

      <a href="/usuarios/logout/" id="logOut">Cerrar Sesión</a>
      
    </div>

    <!-- Incluimos el Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>